<div class="grid mt-2 m-2" id="bdpUserControl">
    <div class="col-12">
        <div class="grid">
            <div class="col-12">
                <p-tabs value="0">
                    <p-tablist>
                        <p-tab value="0">Users
                            <p-badge value="2" class="ml-2" />
                        </p-tab>
                        <p-tab value="1">Users With Inactive Role
                            <p-badge value="6" class="ml-2" />
                        </p-tab>
                    </p-tablist>
                    <p-tabpanel value="0">
                        @if (hasExistingUsers) {
                        <p-table #existingUserTable [value]="usersList" [(selection)]="selectedUsers"
                            styleClass="p-datatable-customers p-datatable-striped" [rowHover]="true" [rows]="10"
                            [showCurrentPageReport]="true" [scrollable]="true" scrollHeight="400px"
                            [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" editMode="row" dataKey="id"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [filterDelay]="0" [resizableColumns]="true" [columns]="usersTableHeader"
                            [reorderableColumns]="true" [(totalRecords)]="usersList.length" [globalFilterFields]="[
                                'userId',
                                'companies',
                                'userName',
                                'roleGranted'
                            ]" stateStorage="local" stateKey="existingUserTableState">
                            <ng-template #caption>
                                <div class="flex justify-content-between">
                                    <div class="w-full md:w-30rem">
                                        <app-common-table-search [value]="searchTerm"
                                            (valueChange)="searchTerm = $event" (search)="onSearch()"
                                            (clear)="resetSearch()"></app-common-table-search>
                                    </div>
                                    <button pButton pRipple icon="pi pi-refresh" [outlined]="true"
                                        (click)="refresh()"></button>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>
                                        Actions
                                    </th>

                                    @for (col of usersTableHeader; track col.field) {
                                    <th [pSortableColumn]="col.field">
                                        {{ col.header }}
                                        <p-sortIcon [field]="col.field" />
                                        <p-columnFilter type="text" [field]="col.field" display="menu" />
                                    </th>
                                    }
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-assignment let-editing="editing" let-ri="rowIndex"
                                let-columns="columns" class="bdp-body-container">
                                <tr class="p-selectable-row">
                                    <!-- <td style="text-align: center">
                                        <p-tableCheckbox [value]="assignment"></p-tableCheckbox>
                                    </td> -->
                                    <td>
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-text mr-2"
                                            (click)="navigateToUserAssignment(assignment)">
                                        </button>
                                        <button pButton pRipple icon="pi pi-copy"
                                            class="p-button-rounded p-button-text mr-2"
                                            (click)="onCopyClick(assignment)">
                                        </button>
                                    </td>
                                    @for (col of usersTableHeader; track col.field) {
                                    <td>
                                        @switch (col.field) {
                                        @case ('actions') {
                                        <button (click)="
                                                    updateUsersCompany(
                                                        assignment,
                                                        'existing'
                                                    )
                                                " pButton type="button" label="Assign"></button>
                                        }
                                        @case ('userType') {
                                        <button pButton pRipple
                                            [ngClass]="assignment.userType === 'Existing' ? 'status-active' : 'status-new'"
                                            class="px-3 py-1 rounded shadow-none border-0 text-sl font-semibold text-gray-900 pe-none w-7">
                                            {{ assignment.userType }}
                                        </button>
                                        }
                                        @case ('companyCount') {
                                        <div>
                                            <div class="bdp-link" (click)="
                                                        onCompaniesCountClick($event, assignment)
                                                    ">
                                                <a class="ml-5">{{ assignment['companyCount'] }}</a>
                                            </div>
                                        </div>
                                        <p-popover #companies styleClass="bdp-extracompanies-panel" appendTo="body">
                                            <p-table>
                                            </p-table>
                                        </p-popover>

                                        }
                                        @default {
                                        {{ assignment[col.field] }}
                                        }
                                        }
                                    </td>
                                    }
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No Data found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        }

                        @if (!hasExistingUsers) {
                        <div class="text-center mt-5 mb-4">
                            <img src="./../../../../../../assets/layout/images/noPendingAssignment.svg" alt />
                            <h5>There are no new existing users</h5>
                        </div>
                        }
                    </p-tabpanel>
                    <p-tabpanel value="1">
                        @if (!hasExistingUsers) {
                        <p-table #existingUserTable [value]="usersList" [(selection)]="selectedUsers"
                            styleClass="p-datatable-customers p-datatable-striped" [rowHover]="true" [rows]="10"
                            [showCurrentPageReport]="true" [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true"
                            editMode="row" dataKey="id"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                            [filterDelay]="0" [resizableColumns]="true" [columns]="existingUsertableHeaders"
                            [reorderableColumns]="true" [(totalRecords)]="usersList.length" [globalFilterFields]="[
                                'userId',
                                'companies',
                                'userName',
                                'roleGranted'
                            ]" stateStorage="local" stateKey="existingUserTableState">
                            <!-- <ng-template pTemplate="colgroup" let-columns>
                                <colgroup>
                                    <col style="width: 100px" />
                                    <col style="width: 100px" />
                                    <col style="width: 130px" />
                                    <col style="width: 180px" />
                                    <col style="width: 120px" />
                                    <col style="width: 120px" />
                                </colgroup>
                            </ng-template> -->

                            <ng-template pTemplate="caption">
                                <div class="table-caption">
                                    <div class="col-12 pb-0">
                                        <div class="grid">
                                            <div class="col-12">
                                                <div class="grid">
                                                    <span class="bdp-filter-elem">
                                                        <div class="search-container mt-2">
                                                            <input pInputText
                                                                (input)="existingUserTable.filterGlobal($event.target.value, 'contains')"
                                                                placeholder="Search" class="search-box" />
                                                            <i class="pi pi-search"></i>
                                                        </div>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-template>

                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th>
                                        Actions
                                    </th>
                                    @for (col of columns; track col.field) {
                                    <th [pSortableColumn]="col.field">
                                        <div
                                            class="flex justify-content-between align-items-center bdp-header-container">
                                            {{ col.header }}
                                        </div>
                                    </th>
                                    }
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="body" let-assignment let-editing="editing" let-ri="rowIndex"
                                let-columns="columns" class="bdp-body-container">
                                <tr class="p-selectable-row">
                                    <!-- <td style="text-align: center">
                                        <p-tableCheckbox [value]="assignment"></p-tableCheckbox>
                                    </td> -->
                                    <td>
                                        <button pButton pRipple icon="pi pi-pencil"
                                            class="p-button-rounded p-button-text mr-2"
                                            (click)="navigateToUserAssignment(assignment)">
                                        </button>
                                        <i (click)="copyToClipboard(port.portUnloc)" class="pi pi-copy"
                                            style="cursor: pointer; font-size: 1.5rem; color: #007bff;"></i>
                                    </td>
                                    @for (col of columns; track col.field) {
                                    <td>
                                        @switch (col.field) {
                                        @case ('actions') {
                                        <button (click)="updateUsersCompany(assignment,'existing')" pButton
                                            type="button" label="Assign">
                                        </button>
                                        }
                                        @case ('companies') {
                                        <ul>
                                            <li>
                                                {{assignment["companies"][0]}}
                                            </li>
                                            @if (assignment['companies'].length >= 2) {
                                            <li>
                                                {{assignment["companies"][1]}}
                                            </li>
                                            }
                                        </ul>
                                        @if (assignment['companies'].length > 2) {
                                        <div>
                                            <div class="bdp-link" (click)="extraCompanies.toggle($event)">
                                                <a class="ml-5">
                                                    ...+{{assignment["companies"].length - 2}}more.
                                                </a>
                                            </div>
                                        </div>
                                        }
                                        <p-popover #extraCompanies styleClass="bdp-extracompanies-panel"
                                            appendTo="body">
                                            {{userCompanyList}}
                                            @for (company of userCompanyList; track companyName; let index = $index) {
                                            @if (index > -1)
                                            { <div><span>{{ company.companyName }}</span></div> }
                                            }
                                        </p-popover>
                                        }
                                        @default {
                                        {{ assignment[col.field] }}
                                        }
                                        }
                                    </td>
                                    }
                                </tr>
                            </ng-template>

                            <ng-template pTemplate="emptymessage">
                                <tr>
                                    <td colspan="8">No Data found.</td>
                                </tr>
                            </ng-template>
                        </p-table>
                        }

                        @if (!hasExistingUsers) {
                        <div class="text-center mt-5 mb-4">
                            <img src="./../../../../../../assets/layout/images/noPendingAssignment.svg" alt />
                            <h5>There are no new existing users</h5>
                        </div>
                        }
                    </p-tabpanel>
                </p-tabs>
            </div>
        </div>
    </div>
    <p-dialog header="Copy Company Role" [(visible)]="showAssignDialog" [style]="{ width: '45vw !important'  }"
        styleClass="bdp-assign-dialog" [draggable]="false" [modal]="true">
        <p-divider />
        <div class="col-12  pl-0 ">
            <span class="mmt-heading">Source User Name: {{selectedUser[0]?.userName}}</span>
            <span class="mmt-heading ml-8">Role Assign: {{selectedUser[0]?.roleName}}</span>
        </div>
        <div class="col-12  pl-0">
            @if(selectedUser[0]?.companies.length<=2){ <span class="mmt-heading">Company Assigned:
                {{selectedUser[0]?.companies}}</span>
                }
                @else{
                <div class="bdp-link">
                    <span class="mmt-heading">Company Assigned:
                        {{selectedUser[0]?.companies[0]}},{{selectedUser[0]?.companies[1]}}
                        <a (click)="extraCompanies.toggle($event)" class="z-0">
                            ...+{{selectedUser[0]?.companies.length - 2}}more.
                        </a>
                    </span>
                </div>
                <p-popover #extraCompanies styleClass="bdp-extracompanies-panel" class="z-0">
                    @for (companyName of selectedUser[0]?.companyAssign; track companyName; let index = $index) {
                    @if (index > 1) { <div><span>{{ companyName }}</span></div> }
                    }
                </p-popover>
                }
        </div>
        <div class="col-12 md:col-4 pl-0">
            <label for="traget_user" class="required-label">Target User <span class="required-star">*</span></label>
            <p-select [options]="Users" [(ngModel)]="selectedUser" optionLabel="name" placeholder="Select a User"
                class="w-full md:w-56" />
        </div>
        <div class="card bg-[#FDEB8F]">
            <p><i class="fa-light fa-circle-info mr-2"></i>The selected Target Users Already Have Existing Role And
                Company
                Assign</p>
        </div>
        <ng-template #footer>
            <p-button label="Cancel" [outlined]="true" severity="secondary" (click)="visible = false" />
            <p-button label="Apply" [outlined]="true" severity="primary" (click)="visible = false" />
        </ng-template>
    </p-dialog>
</div>