<div class="card">
    <p-tabs value="0" (onChange)="onTabChange($event)">
        <p-tablist>
            <p-tab value="0">Release Notes</p-tab>
            <p-tab value="1">User Manual</p-tab>
        </p-tablist>
        <p-tabpanels>
            <p-tabpanel value="0">
                <p-table [columns]="cols" [value]="releaseNotes" [tableStyle]="{ 'min-width': '50rem' }">
                    <ng-template #caption>
                        <div class="flex flex-1 justify-content-between align-items-center w-100">
                            <div class="w-full md:w-30rem">
                                <app-common-table-search [value]="searchTerm" (valueChange)="searchTerm = $event"
                                    (search)="onSearch()" (clear)="resetSearch()"></app-common-table-search>
                            </div>
                            <div>
                                <button pButton pRipple icon="pi pi-refresh" [outlined]="true" class="p-button-primary"
                                    (click)="refresh()"></button>
                                <button pButton pRipple label="Upload Release Notes" class="p-button-primary ml-2"
                                    (click)="openAddRoleDialog()"></button>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template #header let-columns>
                        <tr>
                            <th>
                                {{ 'LBL.ACTION' | translate }}
                            </th>
                            @for (col of columns; track col.field) { <th>{{ col.header | translate }}</th> }
                        </tr>
                    </ng-template>
                    <ng-template #body let-rowData let-columns="columns">
                        <tr>
                            <td>
                                <div class="flex">
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text mr-2 shadow-none"
                                        (click)="editReleaseNotes(rowData)"></button>
                                    <button pButton pRipple icon="pi pi-refresh" class="p-button-rounded p-button-text mr-2 shadow-none"
                                        (click)="deleteReleaseNotes(rowData)"></button>
                                </div>
                            </td>
                          @for (col of columns; track col.field) {
                                <td>
                                    @if (col.field === 'fileName') {
                                    <a style="cursor: pointer; color: blue; text-decoration: underline;"
                                        (click)="downloadReleaseNotes(rowData)">
                                        {{ rowData[col.field] }}
                                    </a>
                                    }
                                    @else if (col.type === 'date') {
                                    {{ rowData[col.field] | date:'yyyy-MM-dd' }}
                                    }
                                    @else { {{ rowData[col.field] }} }
                                </td>
                        }
                        </tr>
                    </ng-template>
                </p-table>
            </p-tabpanel>
            <p-tabpanel value="1">
                <app-user-manual></app-user-manual>
            </p-tabpanel>
        </p-tabpanels>
    </p-tabs>
</div>
@if(showEditDialog){
<app-upload-download-dialog
    [uploadDialogVisible]="showEditDialog"
    [editMode]="true"
    [selectedReleaseNote]="selectedReleaseNote"
    (dialogClosed)="onDialogClosed()"
    (releaseNoteUpdated)="onReleaseNoteUpdated($event)">
</app-upload-download-dialog>
}
