<p-toast [baseZIndex]="5000" class="bdp-toaster">
    <ng-template let-message pTemplate="message">
        <!-- Removed fixed height to allow message to grow naturally -->
        <div class="flex flex-row align-items-start justify-content-between">
            <div class="flex align-items-center gap-2">
                @switch (message.severity) {
                    @case ('success') { <i class="fal fa-check-circle bpd-success mr-2" style="font-size: 1.5rem; color: #04D2A1;"></i> }
                    @case ('error') { <i class="fal fa-times-circle bdp-error mr-2" style="font-size: 1.25rem; color: #ED1A24;"></i> }
                    @case ('warn') { <i class="fal fa-info-circle bdp-info mr-2" style="font-size: 1.25rem"></i> }
                    @case ('info') { <i class="fal fa-info-circle bdp-info mr-2" style="font-size: 1.25rem"></i> }
                }
                <div class="flex align-items-start">
                    @if (message.summary) { <p class="bdp-message-title" style="font-weight: bold; margin: 0; margin-right: 0.5rem;">{{ message.summary }}</p> }
                    <p class="bdp-message-detail" style="margin: 0;">{{ message.detail }}</p>
                </div>
            </div>
        </div>
    </ng-template>
</p-toast>
