<div class="home-container">
    <ng-container *ngIf="kpiData.length !== 0; else loadingKpi">
        <div class="col-12 py-1 kpi-header">
            <div class="flex justify-content-between align-items-center">
                <label for="">KPI Widgets </label>
                @if (filtersActive) {
            <button pButton pRipple type="button" icon="pi pi-filter-slash" label="Show filters" (click)="openFilters()"
                class="p-button-primary"></button>
            } @else {
            <button pButton pRipple type="button" icon="pi pi-filter" label="Show filters" (click)="openFilters()"
                [outlined]="!filtersActive"></button>
            }
            </div>
        </div>
        <div>
            <div class="row flex">
                <div class="col-4" *ngFor="let card of kpiData">
                    <app-kpi-indicators [card]="card"></app-kpi-indicators>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #loadingKpi>
        <div class="col-3" *ngFor="let i of [1,2,3,4]">
            <div class="card">
                <p-skeleton width="10rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton width="5rem" styleClass="mb-2"></p-skeleton>
                <p-skeleton height="2rem" styleClass="mb-2"></p-skeleton>
            </div>
        </div>
    </ng-template>
    <div class="col-12">
        <div class="card port-map m-0">
            <div class="card-header">
                <div class="card-header-actions flex justify-content-between">
                    <span class="header-content">
                        <h5 class="card-title">{{headerName}} | Shipments:{{totalShipmentCount}}</h5>
                    </span>
                    <span>
                        <p-selectbutton [options]="stateOptions" [(ngModel)]="locationType" optionLabel="label"
                            optionValue="value" aria-labelledby="basic" (onChange)="onToggleChange()" />
                        <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-text mr-2"
                            (click)="openSearchDialog()" title="Search Location (Ctrl+K)" aria-label="Search Location"
                            pTooltip="Search Location (Ctrl+K)"></button>
                    </span>
                </div>
            </div>
            <div id="map" #mapContainer></div>
            <div #mapTypeButton class="mapboxgl-ctrl mapboxgl-ctrl-group custom-map-type-button-group">
                <button type="button" class="mapboxgl-ctrl-icon map-type-button"
                    (click)="mapTypeOptionPanelClick($event)" title="Change Map Type">
                    <i class="far fa-clone"></i>
                </button>
            </div>
            <!-- Overlay Panel -->
            <p-popover #mapTypeOptionPanel styleClass="map-overlay-panel">
                <div class="bdp-map-type-option p-3" style="min-width: 240px;">
                    <h5 class="mb-3">Maps Display</h5>
                    <ul class="list-none p-0 m-0">
                        <li class="mb-3 flex align-items-center justify-content-between">
                            <span class="flex align-items-center gap-2">
                                <i class="fa-regular fa-compass"></i>
                                <span>Light View</span>
                            </span>
                            <p-toggleswitch 
                                [ngModel]="mapType === 'light'"
                                (onChange)="onMapTypeToggle('light')">
                            </p-toggleswitch>
                        </li>
                        <li class="mb-3 flex align-items-center justify-content-between">
                            <span class="flex align-items-center gap-2">
                                <i class="fa-regular fa-satellite-dish"></i>
                                <span>Satellite View</span>
                            </span>
                            <p-toggleswitch 
                                [ngModel]="mapType === 'satellite'"
                                (onChange)="onMapTypeToggle('satellite')">
                            </p-toggleswitch>
                        </li>
                        <li class="flex align-items-center justify-content-between">
                            <span class="flex align-items-center gap-2">
                                <i class="fa-regular fa-road"></i>
                                <span>Street View</span>
                            </span>
                            <p-toggleswitch 
                                [ngModel]="mapType === 'street'"
                                (onChange)="onMapTypeToggle('street')">
                            </p-toggleswitch>
                        </li>
                    </ul>
                </div>
            </p-popover>
            <app-filter-panel [(visible)]="filtersVisible" (applied)="onFiltersApplied()" (cleared)="onFiltersCleared()">
            </app-filter-panel>
        </div>
    </div>
</div>