<div id="userConfiguration">
  <div class="col-12">
    <div class="card">
      <p-tabs [value]="selectedIndex" (valueChange)="onTabChange($event)">
        <p-tablist>
          <p-tab value="0">Information</p-tab>
          <p-tab value="1">Role Type</p-tab>
          <p-tab value="2">Company</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <div class="mmt-info">
              <div class="m-3" style="display: flex;justify-content: space-between;">
                <div>
                  <h5 class="mmt-heading">Email: {{selectedUser?.userId}}</h5>
                </div>
                <div style="display:flex">
                  <p-toggleswitch [(ngModel)]="checked" />
                  <p class="ml-2">User is a BDP Empolyee?</p>
                </div>
              </div>
              <div class="br-info-cmmt col-12">
                @if (isExternalAccess) {
                <button pButton label="Go Back" (click)="goBack()"
                  class="p-button-outlined action-button-width p-back-button">
                </button>
                }
                <button pButton label="Cancel" class="p-button-outlined mmt-cancel" (click)="goBack()">
                </button>
                <button pButton (click)="continueSetup('userSetup')" label="Continue"
                  class="p-button-primary mmt-save"></button>
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel value="1">
            <div class="mmt-info mt-4">
              <div class="user-type-header">Select Role Type</div>
              <div class="mmt-user-type flex flex-wrap">
                @for (type of userTypeList; track type) {
                <div class="col-12">
                  <div class="p-field-radiobutton">
                    <p-radiobutton name="userType" [value]="type?.id" [(ngModel)]="roleType" [inputId]="type?.id"
                      [disabled]="type?.disabled" (onClick)="setCoreFeatures($event)">
                    </p-radiobutton>
                    <label class="mmt-label ml-2" [for]="type?.id">{{type.roleName}}</label>
                  </div>
                </div>
                }
              </div>
              <div class="mmt-user-type flex">
                <div class="col-12 md:col-12">
                  <div class="br-form-sep"></div>
                  <div class="br-info-cmmt">
                    @if (isExternalAccess) {
                    <button pButton label="Go Back" (click)="goBack()"
                      class="p-button-outlined action-button-width p-back-button">
                    </button>
                    }
                    <button pButton label="Cancel" class="p-button-outlined mmt-cancel" (click)="goBack()"></button>
                    <button pButton (click)="continueSetup('userType')" label="Continue"
                      class="p-button-primary mmt-save"></button>
                  </div>
                </div>
              </div>
            </div>
          </p-tabpanel>
          <p-tabpanel value="2">
            <p-tabs [value]="selectedCompanyIndex" (valueChange)="onCompanyTabChange($event)">
              <p-tablist class="company-tabview">
                <p-tab value="0">PSA BDP Companies</p-tab>
                <p-tab value="1">Non PSA BDP Companies</p-tab>
              </p-tablist>
              <p-tabpanels>
                <p-tabpanel value="0">
                  <div class="mmt-info">
                    <div class="mmt-user-type flex">
                      <p-treetable [value]="viewPsaCompanyList" [columns]="cols" selectionMode="checkbox" [rows]="10"
                        [rowsPerPageOptions]="[5, 10, 25]" [(selectionKeys)]="selectionKeys" dataKey="key"
                        [tableStyle]="{ 'min-height': '50rem' }" [scrollable]="true" [paginator]="true"
                        [totalRecords]="psaPaginationState.totalRecords" [showCurrentPageReport]="true"
                        [first]="psaPaginationState.first" [rows]="psaPaginationState.rows" [lazy]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                        (onPage)="onPageChange($event,'PSA')" [tableStyle]="{ 'min-width': '50rem' }">
                        <ng-template pTemplate="caption">
                          <div class="flex flex-1 justify-content-between align-items-center w-100">
                            <div class="w-full md:w-30rem">
                              <app-common-table-search [value]="searchTerm" (valueChange)="searchTerm = $event"
                                (search)="onSearch('PSA')" (clear)="resetSearch()"></app-common-table-search>
                            </div>
                            <div class="action-buttons p-d-flex p-ai-center p-jc-end"
                              style="display: flex; gap: 1.5rem;">
                              <button pButton pRipple icon="pi pi-refresh" [outlined]="true" class="p-button-primary"
                                (click)="refresh()"></button>
                              @if (canEdit) {
                              <button pButton pRipple label="Add Role" class="p-button-primary" style="width:120px;"
                                (click)="openAddRoleDialog()"></button>
                              }
                            </div>
                          </div>
                        </ng-template>
                        <ng-template #header let-columns>
                          <tr>
                            <th style="width: 3rem;text-align: center;" pReorderableColumnDisabled>
                              <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                            </th>
                            @for (col of columns; track col) {
                            <th>
                              <div class="flex justify-content-between align-items-center  bdp-header-container">
                                {{col.header}}
                              </div>
                            </th>
                            }
                          </tr>
                        </ng-template>
                        <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
                          <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                            @for (col of columns; track col; let i = $index) {
                            <td>
                              <p-treetable-toggler [rowNode]="rowNode" />
                              @if (i === 0) {
                              <p-treetable-checkbox [value]="rowNode" />
                              }
                              {{ rowData[col.field] }}
                            </td>
                            }
                          </tr>
                        </ng-template>
                      </p-treetable>
                    </div>
                    <div class="mmt-user-type flex">
                      <div class="col-12 md:col-12">
                        <div class="br-form-sep"></div>
                        <div class="br-info-cmmt">
                          @if (isExternalAccess) {
                          <button pButton label="Go Back" (click)="goBack()"
                            class="p-button-outlined action-button-width p-back-button">
                          </button>
                          }
                          <button pButton label="Cancel" class="p-button-outlined mmt-cancel" (click)="goBack()">
                          </button>
                          <button pButton (click)="continueSetup('confirmCompanySelection')" label="Save"
                            class="p-button-primary mmt-save"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabpanel>
                <p-tabpanel value="1">
                  <div class="mmt-info">
                    <div class="mmt-user-type flex">
                      <div class="col-12 px-0">
                        <p-treetable [value]="viewNonPsaCompanyList" [columns]="cols" selectionMode="checkbox"
                          [rows]="10" [rowsPerPageOptions]="[5, 10, 25]" [(selectionKeys)]="selectionKeys" dataKey="key"
                          [scrollable]="true" [paginator]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                          (onPage)="onPageChange($event,'NON-PSA')" [tableStyle]="{ 'min-width': '50rem' }">
                          <ng-template pTemplate="caption">
                            <div class="flex flex-1 justify-content-between align-items-center w-100">
                              <div class="w-full md:w-30rem">
                                <app-common-table-search [value]="searchTerm" (valueChange)="searchTerm = $event"
                                  (search)="onSearch('NON-PSA')" (clear)="resetSearch()"></app-common-table-search>
                              </div>
                              <div class="action-buttons p-d-flex p-ai-center p-jc-end"
                                style="display: flex; gap: 1.5rem;">
                                <button pButton pRipple icon="pi pi-refresh" [outlined]="true" class="p-button-primary"
                                  (click)="refresh()"></button>
                                @if (canEdit) {
                                <button pButton pRipple label="Add Role" class="p-button-primary" style="width:120px;"
                                  (click)="openAddRoleDialog()"></button>
                                }
                              </div>
                            </div>
                          </ng-template>
                          <ng-template #header let-columns>
                            <tr>
                              <th style="width: 3rem;text-align: center;" pReorderableColumnDisabled>
                                <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
                              </th>
                              @for (col of columns; track col) {
                              <th>
                                <div class="flex justify-content-between align-items-center  bdp-header-container">
                                  {{col.header}}
                                </div>
                              </th>
                              }
                            </tr>
                          </ng-template>
                          <ng-template #body let-rowNode let-rowData="rowData" let-columns="columns">
                            <tr [ttRow]="rowNode" [ttSelectableRow]="rowNode">
                              @for (col of columns; track col; let i = $index) {
                              <td>
                                <p-treetable-toggler [rowNode]="rowNode" />
                                @if (i === 0) {
                                <p-treetable-checkbox [value]="rowNode" />
                                }
                                {{ rowData[col.field] }}
                              </td>
                              }
                            </tr>
                          </ng-template>
                        </p-treetable>
                      </div>
                    </div>
                    <div class="mmt-user-type flex">
                      <div class="col-12 md:col-12">
                        <div class="br-form-sep"></div>
                        <div class="br-info-cmmt">
                          @if (isExternalAccess) {
                          <button pButton label="Go Back" (click)="goBack()"
                            class="p-button-outlined action-button-width p-back-button">
                          </button>
                          }
                          <button pButton label="Cancel" class="p-button-outlined mmt-cancel" (click)="goBack()">
                          </button>
                          <button pButton (click)="continueSetup('confirmCompanySelection')" label="Save"
                            class="p-button-primary mmt-save"></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </p-tabpanel>
              </p-tabpanels>
            </p-tabs>
          </p-tabpanel>
        </p-tabpanels>
      </p-tabs>
    </div>
  </div>
</div>