<p-dialog [(visible)]="display" header="Add Role" [modal]="true" [closable]="true" (onHide)="close()" [style]="{ width: '40rem' }"
[resizable]="false" [draggable]="false" [dismissableMask]="true" [focusOnShow]="false">
    <ng-template pTemplate="closeicon">
      <button type="button" class="p-dialog-header-icon p-dialog-header-close p-link shadow-none" (click)="close()">
        <span class="pi pi-times"></span>
      </button>
    </ng-template>
    <form [formGroup]="form" class="formgrid grid">
        <div class="col-12 pb-3">
            <label class="p-required">Status<span class="required-star">*</span></label>
            <div class="p-formgroup-inline flex flex-wrap gap-4" style="padding-top: 0.05rem">
                <div class="p-field-radiobutton">
                    <p-radiobutton formControlName="status" value="Active" label="Active" inputId="status-active" />
                    <label for="status-active" class="ml-2">Active</label>
                </div>
                <div class="p-field-radiobutton">
                    <p-radiobutton formControlName="status" value="Inactive" label="Inactive" inputId="status-inactive" />
                    <label for="status-inactive" class="ml-2">Inactive</label>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 pb-3">
            <label class="p-required">Role Name<span class="required-star">*</span></label>
            <div class="flex" style="padding-top: 0.05rem">
                <input type="text" pInputText formControlName="name" placeholder="Enter Role Name" />
            </div>
        </div>
        <div class="col-12 md:col-6 pb-3">
            <label class="p-required">Role Privileges<span class="required-star">*</span></label>
            <div class="flex" style="padding-top: 0.05rem">
                <p-treeselect class="w-full md:w-80" containerStyleClass="w-full" [filter]="true"
                    [options]="privilegeTreeOptions" formControlName="privPermissions" display="chip" [metaKeySelection]="false"
                    selectionMode="radio" placeholder="Select Role Privilege" >
                    <ng-template let-node pTemplate="item">
                        <div class="flex align-items-center">
                            <p-radiobutton [value]="node" [(ngModel)]="selectedPrivileges" (onChange)="onPrivilegeSelect($event, node)" [disabled]="isReadOnly(node)"></p-radiobutton>
                            <span class="ml-2">{{ node.label }}</span>
                        </div>
                    </ng-template>
            </div>
        </div>
        <div class="col-12 pb-3">
            <label class="p-required">Custom landing<span class="required-star">*</span></label>
            <div class="p-formgroup-inline flex flex-wrap gap-4" style="padding-top: 0.05rem">
                <div class="p-field-radiobutton">
                    <p-radiobutton formControlName="customLanding" value="Yes" label="Yes" inputId="custom-yes" />
                    <label for="custom-yes" class="ml-2">Yes</label>
                </div>
                <div class="p-field-radiobutton">
                    <p-radiobutton formControlName="customLanding" value="No" label="No" inputId="custom-no" />
                    <label for="custom-no" class="ml-2">No</label>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 pb-3">
            <label class="p-required">Default Landing Page<span class="required-star">*</span></label>
            <div class="flex" style="padding-top: 0.05rem">
                <p-select [options]="landingPages" formControlName="defaultLanding" optionLabel="label" optionValue="value"
                    placeholder="Select Default Landing Page" class="w-full"></p-select>
            </div>
        </div>
        <div class="col-12 pb-3">
            <label class="p-required">Role Type<span class="required-star">*</span></label>
            <div class="p-formgroup-inline flex flex-wrap gap-4 pt-1">
                <div class="p-field-radiobutton">
                    <p-radiobutton formControlName="roleType" value="PSA BDP" label="PSA BDP" inputId="role-psa" />
                    <label for="role-psa" class="ml-2">PSA BDP</label>
                </div>
                <div class="p-field-radiobutton">
                    <p-radiobutton formControlName="roleType" value="BNS" label="BNS" inputId="role-bns" />
                    <label for="role-bns" class="ml-2">BNS</label>
                </div>
            </div>
        </div>
        <div class="col-12 md:col-6 pb-3">
            <label class="p-required">Skin<span class="required-star">*</span></label>
            <div class="flex" style="padding-top: 0.05rem">
                <p-select [options]="skinOptions" formControlName="skin" optionLabel="label" optionValue="value"  placeholder="Select Skin"
                    class="w-full"></p-select>
            </div>
        </div>
        <div class="col-12 pb-3">
            <label>Role Description</label>
            <div class="flex" style="padding-top: 0.05rem">
                <textarea pInputTextarea rows="4" formControlName="description" maxlength="200"
                    placeholder="Enter Description" class="w-full h-5rem"></textarea>
            </div>
            <div class="text-right">{{ form.get('description')?.value?.length || 0 }}/200</div>
        </div>
    </form>
    <div class="flex justify-content-end gap-2">
        <button pButton label="Cancel" class="p-button-outlined text-gray-900" (click)="close()"></button>
        <button pButton label="Add" class="p-button-primary" [disabled]="!isFormValid()" (click)="save()"></button>
    </div>
</p-dialog>
<app-toast-component></app-toast-component>
