<div class="grid mt-2 m-2" id="bdpUserControl">
    <div class="col-12">
                <div>
                    <div class="flex flex-col gap-2">
                        <span class="text-lg text-muted-color font-semibold">dark mode</span>
                        <p-toggleswitch [ngModel]="darkTheme()" (ngModelChange)="toggleDarkMode()" [options]="menuThemeOptions" optionLabel="name" optionValue="value" [allowEmpty]="false"></p-toggleswitch>
                    </div>
                </div>
        <div class="grid">
            <div class="col-12">
                <p-table #roleTable [value]="roles" [paginator]="true" [rows]="pageSize"
                    [rowsPerPageOptions]="[10,25,50]" [(totalRecords)]="totalRecords" editMode="row" dataKey="id"
                    [columns]="roleTableHeaders" sortField="name" [resizableColumns]="true" [reorderableColumns]="true"
                    [showCurrentPageReport]="true" [filterDelay]="0" [rowHover]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    styleClass="p-datatable-customers p-datatable-striped"
                    [globalFilterFields]="['roleName', 'description']">

                    <!-- Caption -->
                    <ng-template #caption>
                        <div class="flex flex-1 justify-content-between align-items-center w-100">
                            <div class="w-full md:w-30rem">
                                <app-common-table-search [value]="searchTerm" (valueChange)="searchTerm = $event"
                                    (search)="onSearch()" (clear)="resetSearch()"></app-common-table-search>
                            </div>
                            <div class="action-buttons p-d-flex p-ai-center p-jc-end"
                                style="display: flex; gap: 1.5rem;">
                                <button pButton pRipple icon="pi pi-refresh" [outlined]="true" class="p-button-primary"
                                    (click)="refresh()"></button>
                                @if (canEdit) {
                                <button pButton pRipple label="Add Role" class="p-button-primary" style="width:120px;"
                                    (click)="openAddRoleDialog()"></button>
                                }
                            </div>
                        </div>
                    </ng-template>

                    <!-- Header -->
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            @if (canEdit) {
                            <th>Action</th>
                            }
                            @for (col of columns; track col) {
                            <th pSortableColumn="{{col.field}}">
                                {{ col.header }} <p-sortIcon field="{{col.field}}" />
                                <p-columnFilter type="text" field="{{col.field}}" display="menu" />
                            </th>
                            }
                        </tr>
                    </ng-template>

                    <!-- Body -->
                    <ng-template pTemplate="body" let-assignment let-columns="columns">
                        <tr>
                            @if (canEdit) {
                            <td class="actions">
                                <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text mr-2 shadow-none"
                                    (click)="editRole(assignment)"></button>
                            </td>
                            }
                            @for (col of columns; track col) {
                            <td>
                                @switch (col.field) {
                                @case ('status') {
                                <div>
                                    <button pButton pRipple class="p-button-primary"
                                        [ngClass]="assignment.status === 'Active' ? 'status-active' : 'status-inactive'"
                                        class="px-3 py-1 rounded shadow-none border-0 text-sl font-semibold text-gray-900 pe-none">
                                        {{ assignment.status }}
                                    </button>
                                </div>
                                }
                                @case ('rolePrivileges') {
                                <div>
                                    @if (assignment['rolePrivileges'] && assignment['rolePrivileges'].length > 0) {
                                    <span>
                                        @if (assignment['rolePrivileges'].length === allPrivileges.length) {
                                        Full access ({{ assignment['rolePrivileges'].slice(0,2).join(', ') }}
                                        @if (assignment['rolePrivileges'].length > 2) {
                                        ,<a class="text-blue-500 cursor-pointer ml-1"
                                            (click)="moreTpl.toggle($event)">+{{assignment['rolePrivileges'].length
                                            - 2}} more
                                        </a>
                                        })
                                        <p-popover #moreTpl appendTo="body">
                                            @for (privilege of assignment['rolePrivileges'].slice(4); track privilege) {
                                            <div>
                                                {{privilege}}
                                            </div>
                                            }
                                        </p-popover>
                                        } @else {
                                        {{ assignment['rolePrivileges'].slice(0,2).join(', ') }}
                                        @if (assignment['rolePrivileges'].length > 2) {
                                        , <a class="text-blue-500 cursor-pointer ml-1" (click)="moreTpl.toggle($event)">
                                            +{{assignment['rolePrivileges'].length - 2}} More
                                        </a>
                                        <p-popover #moreTpl appendTo="body">
                                            @for (privilege of assignment['rolePrivileges'].slice(2); track privilege) {
                                            <div>
                                                {{privilege}}
                                            </div>
                                            }
                                        </p-popover>
                                        }
                                        }
                                    </span>
                                    }
                                </div>
                                }
                                @case ('defaultLanding') {
                                <div>
                                    {{ assignment['defaultLanding'] ? assignment['defaultLanding'] : '-' }}
                                </div>
                                }
                                @case ('createdOn') {
                                <div>
                                    {{ assignment['createdOn'] | date:'MM-dd-yyyy HH:mm' }}
                                </div>
                                }
                                @case ('updatedOn') {
                                <div>
                                    {{ assignment['updatedOn'] | date:'MM-dd-yyyy HH:mm' }}
                                </div>
                                }
                                @default {
                                <div>
                                    {{ assignment[col.field] }}
                                </div>
                                }
                                }
                            </td>
                            }
                        </tr>
                    </ng-template>

                    <!-- Filter -->
                    <ng-template pTemplate="filter" let-columns>
                        <tr>
                            @for (col of columns; track col) {
                            <th>
                                @if (col.filter) {
                                <input pInputText type="text"
                                    (input)="roleTable.filter($event.target.value, col.field, 'contains')"
                                    placeholder="Filter {{col.header}}" class="p-column-filter" />
                                }
                            </th>
                            }
                        </tr>
                    </ng-template>

                    <!-- Empty -->
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="(canEdit ? roleTableHeaders.length + 1 : roleTableHeaders.length)"
                                class="text-center">
                                No Roles found.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>

                <app-role-configuration #roleConfig></app-role-configuration>
            </div>
        </div>
    </div>
</div>
