<div class="topbar-container">
  <!-- Row 1: logo, section, and action controls -->
  <p-toolbar>
    <ng-template pTemplate="start">
      <img class="bdp-logo" src="./../../../../assets/bdp/images/Smart Navigator_White.svg" alt="Smart Navigator" />
    </ng-template>
    <ng-template pTemplate="center">
      <span class="current-section">{{ currentSection }}</span>
    </ng-template>
    <ng-template pTemplate="end" class="tools">
          <p-toggleswitch [ngModel]="darkTheme()" (ngModelChange)="toggleDarkMode()">
          </p-toggleswitch>

          <span class="font-semibold m-2">
            Dark Mode
          </span>
      <p-select class="mr-4" [options]="languageOptions" [(ngModel)]="selectedLanguage" (onChange)="onLanguageChange($event)"
        placeholder="Select Language" optionLabel="label" optionValue="value" style="width: 25%;">
      </p-select>
      <p-select class="mr-4" [options]="primaryColors()" [(ngModel)]="selectedSkin" placeholder="Select Skin"
        optionLabel="name" (onChange)="updateColors($event, 'primary')" style="width: 35%;">
        <ng-template let-color pTemplate="item">
          <span class="color-swatch" [style.backgroundColor]="color.palette"></span>
          <span class="color-name">{{ color.name }}</span>
        </ng-template>
      </p-select>
      <p-select [options]="companies" [(ngModel)]="selectedCompany" placeholder="select company"
        styleClass="company-dropdown">
      </p-select>
      <img src="../../../../assets/bdp/images/notifications.svg"
                  pTooltip='notification' tooltipPosition="top" alt
                  class="mmt-icon" />
      <img src="../../../../assets/bdp/images/announcements.svg"
                  pTooltip='announcements' tooltipPosition="top" alt
                  class="mmt-icon" />
     <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/xuxuefeng.png" size="large" shape="circle" (click)="userMenu.toggle($event)"/>
      <p-tieredMenu #userMenu [model]="userMenuItems" popup="true"></p-tieredMenu>
    </ng-template>
  </p-toolbar>

  <p-menubar [model]="navMenuItems" class="navigation-bar"></p-menubar>

  <!-- <div class="navigation-container">
    <p-menubar [model]="visibleNavMenuItems" class="navigation-bar" #navigationBar></p-menubar>

    <div class="overflow-menu" *ngIf="showOverflowMenu">
      <p-button
        icon="pi pi-ellipsis-h"
        [text]="true"
        [rounded]="true"
        (click)="overflowMenu.toggle($event)"
        pTooltip="More options"
        tooltipPosition="bottom">
      </p-button>
      <p-menu #overflowMenu [model]="overflowMenuItems" [popup]="true"></p-menu>
    </div>
  </div> -->
</div>
